body {
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
}

.max-height {
    height: 100%;
}

.bg-fill-color {
    background-color: rgba(129, 208, 216, 0.06);
}

/* Menu customization */

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    background-color: rgba(129, 208, 216, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(129, 208, 216, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(120, 205, 214, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(120, 205, 214, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #78cdd6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #78cdd6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #78cdd6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #81d0d8;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand{
    font-family: cursive;
}

#login-dropdown-list a {
    cursor: pointer;
}

.dropdown-menu {
    margin-top: -1px !important;
    right: -15px !important;
    border-radius: 0px !important;
    background-color: #81D0D8;
    border: 0px;
    display: none;
}

#login-dropdown-list .dropdown-menu {
    min-width: 300px;
    padding: 15px;
}

#login-dropdown-list .btn {
    margin-top: 5px;
    background-color: #81D0D8;
    color: #fff;
    border-color: #F8FDFD;
}

#login-dropdown-list input:last-of-type {
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#login-dropdown-list input {
    margin-top: 10px;
    border-radius: 0px;
    position: relative;
    z-index: 1;
}

#login-dropdown-list .dropdown-menu .or {
    margin: 5px 0;
    text-align: center;
}

.alert-info, .alert-danger, .alert-warning, .alert-success {
    color: rgba(255, 255, 255, 0.84);
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #f44336;
    background-color: #A7DEE3;
    border-color: #ebccd1;
}

.keepOpen {
    display: block;
}

/* End Menu customization */

/* Recent Section */

h3 {
    color: #81D0D8;
    font-family: cursive;
}
/* End Recent Section */

/* Footer section */
footer {
    padding: 1px 0;
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*End Footer section*/