<!-- login page -->
<section id="recent-section" class="max-height" ng-controller="MyPinsController">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h3 class="text-center">Your Pins</h3>    
    </div>        
    </div>
    <div class="row">
        <div class="col-sm-12 vcenter">
            <div masonry>
                <div class="masonry-brick vcenter" ng-repeat="brick in bricks">
                    <div class="card">
                        <img ng-src="{{ brick.url }}" onerror="imgError(this);">
                        <div class="card-text text-center">
                            <div class="card-title">{{ brick.title }}</div>
                                <a ng-click="deleteImage(brick, $index)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>   
</section>