<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">GreatPintApp</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-link="recent">Recent</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="!isAuthed()">
                <li id="login-dropdown-list" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ng-click="toggleSignin()"> <span class="glyphicon glyphicon-user"></span> Sign in / Join  </a> 
                    <div class="dropdown-menu" ng-show="showSignin==1" ng-class="{keepOpen: showSignin==1}">
                        <button class="login-button btn btn-block btn-Twitter">Sign in with Twitter</button>
                        <div class="or">
                            <hr/>
                        </div>
                        <div class="alert alert-danger text-center" ng-show="notFoundUser">User not found</div>
                        <input id="login-username" type="text" placeholder="Username" class="form-control">
                        <input id="login-password" type="password" placeholder="Password" class="form-control">
                        <button class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password" type="button"> Sign in </button>
                        <button class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password" type="button" ng-click="showSignin=2"> Create account </button>
                    </div>
                    <div class="dropdown-menu" ng-show="showSignin==2" ng-class="{keepOpen: showSignin==2}">
                        <span class="btn btn-block btn-Twitter">New Account</span>
                        <div class="or">
                            <hr/>
                        </div>
                        <div class="alert alert-danger text-center" ng-show="userAlreadyExist">User not found</div>
                        <input id="login-username" type="text" placeholder="Username" class="form-control">
                        <input id="login-password" type="password" placeholder="Password" class="form-control">
                        <input id="login-password" type="password" placeholder="Password Again" class="form-control">
                        <button class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password" type="button"> Create </button>
                        <button class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password" type="button" ng-click="showSignin=1"> Cancel </button>
                    </div>
	             </li>
            </ul>    
        </div>
    </div>
</div>